.main{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    font-family: 'jost';
    display: flex;
    column-gap: 30px;
}

.left-main{
    flex: 1;
}

.right-main{
    padding-top: 59px;
    flex: 1;
    align-items: center;
    font-family: 'jost';
    font-size: 20px;
    font-weight: 500;
}

.welcome{
    font-weight: 500;
    font-size: 18px;
    text-wrap: nowrap;
}

.logout{
    cursor: pointer;
    color: rgb(126, 19, 17);
}

.logout:hover{
    text-decoration: underline;
}

.operation{
    display: flex;
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(107, 107, 107);
    padding: 10px;
    max-width: 800px;
    margin-top: 1px;
    cursor: pointer;
}

.arrow{
    filter: invert(1);
}

.operation-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.perform-delete{
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(107, 107, 107);
    padding: 20px;
    max-width: 800px;
    height: 190px;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: transform 0.5s ease-in-out;
}

.perform-update{
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(107, 107, 107);
    padding: 20px;
    max-width: 800px;
    height: 490px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
    column-gap: 20px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: transform 0.5s ease-in-out;
}

.show-op-delete{
    display: flex;
}

.hide-op-delete{
    display: none;
}

.show-op-update{
    display: grid;
}

.hide-op-update{
    display: none;
}

.rotate{
    transform: rotate(180deg);
}

.required:after{
    content: " *";
    color: red;
}

@media (max-width: 925px) {
    .perform-update{
        grid-template-columns: 1fr;
        height: 930px
    }

    .right-main{
        display: none;
    }
}

.input-container{
    display: flex;
    flex-direction: column;
}

.input-container label{
    font-weight: 500;
    margin-left: 5px;
    margin-bottom: 3px;
}

.input-box{
    height: 45px;
    border-radius: 15px;
    outline: none;
    border-style: solid;
    padding: 6px;
    font-size: 15px;
    transition: 0.15s;
}

.input-area{
    height: 100px;
    border-radius: 15px;
    outline: none;
    scrollbar-width: none;
    border-style: solid;
    border-width: 2px;
    padding: 6px;
    font-size: 15px;
    resize: none;
    min-width: none;
    transition: 0.15s;
}

.input-area:focus, .input-box:focus{
    border-bottom: 3px solid rgb(126, 19, 17);
}

.names-area{
    height: 45px;
}

.button-container{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
}

.log-container{
    margin-top: 20px;  
    height: 470px;
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    border: 1px solid rgb(107, 107, 107);
    text-align: center;
    padding-top: 10px;
    font-family: 'jost';
    font-size: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    min-width: 300px;
    max-width: 800px;
}

.feedback-container{
    width: 90%;  
    margin-top: 5px;
    height: 600px; 
    background-color: rgb(248, 248, 248);
    border-radius: 20px;
    border: 1px solid rgb(107, 107, 107);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button{
    height: 39px;
    border-radius: 17px;
    border: 1px solid rgb(170, 170, 170);
    cursor: pointer;
    background-color: rgb(126, 19, 17);
    color: white;
    font-weight: 500;
    transition: 0.2s;
}

.button:hover{
    box-shadow: 0px 0px 7px rgba(126, 19, 17, 0.6);
    transform: scale(1.01);
    opacity: 0.9;
}

.button:active{
    opacity: 0.6;
}

.container-title{
    padding: 10px;
    border-bottom: 1px solid rgb(107, 107, 107);
}