/* Jost Regular 400 Normal*/
@font-face{
    font-family: 'jost';
    src: url(../assets/fonts/Jost/Jost-Regular.ttf) format('truetype');
    font-style: normal; 
    font-optical-sizing: auto;
    font-weight: 400;
}

/* Jost Medium 500 Normal*/
@font-face{
    font-family: 'jost';
    src: url(../assets/fonts/Jost/Jost-Medium.ttf) format('truetype');
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 500;
}

/* Jost Bold 700 Normal */
@font-face{
    font-family: 'jost';
    src: url(../assets/fonts/Jost/Jost-Bold.ttf) format('truetype');
    font-style: normal;
    font-optical-sizing: auto;
    font-weight: 700;
}

/* Gothic A1 SemiBold 600 Normal */
@font-face{
    font-family: 'Gothic A1';
    src: url(../assets/fonts/Gothic_A1/GothicA1-SemiBold.ttf) format('truetype');
    font-style: normal;
    font-weight: 600;
}