@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'jost', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(234, 219, 219);
}

a{
    text-decoration: unset;
    color: black;
}