/* General */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'jost', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: rgb(234, 219, 219);
}

a{
    text-decoration: unset;
    color: black;
}