.header{
    background-color: rgb(248, 248, 248);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 7px;
    width: 100%;
    border-bottom: 1px solid rgb(107, 107, 107);
    height: 65px;
    column-gap: 25px;
    z-index: 3;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.left-section{
    margin-left: 8px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 176px;
    text-wrap: nowrap;
}

.left-section #logo{
    width: 35px;
}

.left-section .name{
    margin-left: 10px;
    font-weight: 500;
    font-size: 110%;
    color: rgb(126, 19, 17);
}

.right-section .menu{
    display: none;
    position: relative;
}

#close-click{
    display: none;
}

.menu-list{
    padding-top: 64px;
    background-color: rgb(141, 23, 21);
    position: absolute;
    width: 100%;
    right: 0px;
    height: 100%;
    z-index: 2;
    display: none;
    flex-direction: column;
}

.menu-list a{
    padding: 12px 20px;
    color: white;
    font-size: 20px;
    transition: 0.2s;
}

.menu-list a:hover{
    background-color: rgba(241, 120, 120, 0.703);
}

.menu-list a:active{
    background-color: rgba(241, 164, 164, 0.703);
}

@media (max-width: 400px) {
    .right-section .navigation{
        display: none;
    }

    .right-section .menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }
    
    .right-section .menu:hover{
        background-color: rgba(224, 224, 224, 0.277);
    }

    .right-section{
        justify-content: end;
    }
}


@media (min-width: 400px) {
    .right-section .menu{
        display: none;  
    }
}

.right-section{
    display: flex;
    align-items: center;
    width: 200px;
    height: 100%;
    text-wrap: nowrap;
}

.right-section .navigation a{
    color: rgb(126, 19, 17);
    margin-right: 10px;
    cursor: pointer;
    transition: 0.15s;
}

.right-section .navigation a:hover{
    text-decoration: underline;
    color: rgb(179, 20, 17);
}

#active-nav{
    text-decoration: underline;
    color: rgb(179, 20, 17);
    text-underline-offset: 3px;
    cursor: default;
    pointer-events: none;
}

#active-menu{
    cursor: default;
    pointer-events: none;
    background-color: rgba(178, 46, 46, 0.703);   
}