.main{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    font-family: 'jost';
    margin-bottom: 60px;
}

#back-container{
    display: flex;
    cursor: pointer;
    align-items: center;
    transition: 0.2s;
}

#back-container img{
    width: 18px
}

#back-container:hover img, #back-container:active img{
    transform: translateX(-3px);
}

#back-container span, #back-container:active span{
    margin-left: 5px;
    font-weight: 500;
}

#back-container:hover span{
    text-decoration: underline;
}

#page-title{
    display: flex;   
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid rgb(107, 107, 107);
    margin-top: 20px;
    margin-bottom: 30px;
    overflow-x: hidden
}

#page-title span{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 7px;
}

.table-container{
    overflow-x: scroll;
    scrollbar-width: none;
}

table{
    border: 1px solid rgb(107, 107, 107);
}

th{
    background-color: rgb(126, 19, 17);
    color: rgb(248, 248, 248);
    font-weight: 500;
    font-size: 20px;    
}
td{
    background-color: rgb(248, 248, 248);
}

td, th{
    border: 1px solid rgb(107, 107, 107);
    padding: 15px 10px;
}

.title{
    min-width: 130px;
}

.description{
    min-width: 440px;
}

.members{
    min-width: 200px;
}

.semester{
    min-width: 93px;
}

.link{
    min-width: 260px;
}

.email{
    min-width: 280px;
}

.link a{
    color: blue;
}

.search{
    display: flex;
    height: 50px;
    justify-content: center;
    margin-bottom: 30px; 
    column-gap: 3px;
}

.filter-icon{
    height: 50px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    border: 1px solid black;
    border-radius: 2px;
}

.filter-icon:hover{
    opacity: 0.9;
}

.filter-icon img{
    width: 35px;
    filter: invert(1);
}

.search-bar{
    height: 50px;
    max-width: 1000px;
    width: 500px;
    padding: 10px;
    font-family: 'jost';
    font-size: 16px;
    border: none;
    border: 1px solid black;
    border-radius: 2px;
}

.search-bar:focus{
    outline: 0px;
    opacity: 0.8;
}

.not-found{
    background-color: rgb(248, 248, 248);
    text-align: center;
    font-weight: 500px;
    padding: 15px;
}

.filter{
    position: relative;
}

.filter-section{
    position: absolute;
    background-color: rgb(248, 248, 248);
    border:1px solid rgb(28, 27, 27);
    display: none;

}

.filter-option{
    border-bottom: 1px solid rgb(28, 27, 27);
    height: 60px;
    width: 79px;
    padding: 10px;
    cursor: pointer;
}

.filter-option:hover{
    background-color: rgb(213, 210, 210);
}

.sem{
    height: 40px;
}

.sort{
    height: 40px;
}

.rotate{
    transform: rotate(180deg);
}

.semester-list, .member-count, .sorting{
    background-color: rgb(248, 248, 248);
    border:1px solid rgb(28, 27, 27);
    display: none;
}

.sem-number, .member-number, .sort-option{
    border-bottom: 1px solid rgb(28, 27, 27);
    height: 34px;
    width: 79px;
    padding: 10px;
    cursor: pointer;
}

.none{
    height: 40px;
}