/* Main */
.main{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    font-family: 'jost';
    display: flex;
    justify-content: center;
    padding-top: 210px;
}

.submitted-icon{
    filter: invert(1);
    margin-bottom: 5px;
}

.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 23px;
}

.message-subject{
    font-family: Helvetica;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 4px;
    text-align: center;
}

.message-description{
    font-family: Helvetica;
    font-size: 17px;
    text-align: center;
}

.navigation-options{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation-section{
    font-family: Helvetica;
    color: rgb(213, 29, 26);
    cursor: pointer;
    margin-bottom: 13px;
    font-size: 17px;
    transition: 0.2s;
    font-weight: 500;
    text-decoration: underline;
}

.navigation-section:hover{
    color: rgb(255, 4, 0);
    text-underline-offset: 3px;
}

.navigation-section:focus{
    color: rgb(175, 22, 20);
    text-underline-offset: 3px;
}